*{
    font-size: medium;
}
td{
    
    padding:55px;
    margin:33px;
}
tr{
    background-color:transparent;
}
h3{
    margin:33px;
}
.audio{
    margin:33px;
    padding:33px;
}
.card{
    background-color:transparent;
    margin: auto;
    margin-top: 2rem;
}
.card2{
    background-color:transparent;
    margin: auto;
    margin-top: 2rem;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
  background-color:transparent;
}
.SongContainer{
    width: 18rem;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  
  color: white;
}
.controlPannel{
    display:flex;
    flex-direction:row;
}
.audio{
    display:flex;
}
.controlPannel input{
   
    border-radius:15px;
    
}
::-webkit-scrollbar{
    display:none;
}

@media only screen and (max-width:575px) {
    .audio{
         display: flex;
        flex-direction:row;
     
        
    }
    .SongContainer {
        background-color:transparent;
    width: 78%;
}
    .controlPannel{
        width:10%;
        
    }
    
    .card{
   background-color:transparent;
    margin-top: 33px;
    width:15rem;

    }
    .card2{
        margin: 7px;
        margin-top: 0px;
        width: 4rem;

    }
    .content{
        padding: 5px;
    font-size: 10px;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    }
    td{
        padding:5px;
    }
    
    
    .btn{
            width: 12rem;
    margin: 10px;
    padding: 5px;
    }
    .card-text{
        text-align: center;
        align-items: center;
        margin: auto;
    }
   .audio{
    margin:0px;
    display:flex;
    padding:0px;
   }
   .card-text{
    font-size: medium;
   }
   .play{
    width: 58px;
   }
   .container{
    background-color:transparent;
    height:fit-content;
    width: fit-content;
    padding-right: 0px;
    padding-left: 0px;
}
    .fileup{
        margin:0px;
    }
    
    .card{
        background-color:transparent;
    }
     .audio{
        display: flex;
    align-items: center;
    margin: auto;
    background-color:black;
    position: fixed;
    border-radius:3px;
    left:3px;
    right: auto;
    bottom:0px;
    }
    input[name="playSongs"]{
        width:50%;
        text-aligh:center;
    }
    .form1{
        flex:0.4;
        margin:auto;
    }
    .formM{
       
      
        flex:.8;

        
    }
    .form2{
       flex:0.4;
    }
    
}
@media only screen and (max-width:574px)
{
    
    .audio{
        display: flex;
    align-items: center;
    margin: auto;
    background-color:black;
    position: fixed;
    border-radius:3px;
    left:3px;
    right: auto;
    bottom:0px;
    }
    input[name="playSongs"]{
        width:50%;
        text-aligh:center;
    }
    .form1{
        flex:0.4;
        margin:auto;
    }
    .formM{
       
      
        flex:.8;

        
    }
    .form2{
       flex:0.4;
    }
    .material-symbols-outlined{
        font-size:large;
        text-align:center;
    }
    .container{
        background-color:transparent;
    }
}


